
body{
  background-color: black;
}
*{
  list-style: none;
}
.music {
  height: 250px;
  padding: 20px;
  background-color: lightgrey;
  border-radius: 50%;
  border: 10px solid black;
}

#player {
  margin: 200px 30px;
  color: lightgreen;
}
.volume{
 background-color: lightgrey;
}
.volume p{
  padding-top: 200px;
  /* color: rgb(34, 122, 242); */
  color: #96dbfa;
  margin-left: -10px;
  font-weight: 600;
}
.volume {
  margin: 100px;
}
.effects li{
  color: #96dbfa;
  display: inline-block;
  padding: 0 10px;
}
.effects input {
  background-color: #96dbfa;
}
.rc-slider-vertical {
  left: -76px;
  top: -97px;
}
.secondSection{
  margin-top: 60px;
  /* padding: 60px; */
}
.effects{
  border: 2px solid #96dbfa;
  /* background-color: black; */
  color: white;
  height: 50px;
  width: 100px;
  box-shadow: none;
  border-radius: 20px;
  color: black;
}
.useEffects{
  background-color: white;
}
/* .player {
  margin: 15px 0;
  background-color:rgba(0,191,255, 0.5);
  width: 100%;
  height: 50px;
  position: relative;
} */



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
