.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
body{
  /* background-color: black; */
}
.music {
  height: 250px;
  padding: 100px;
  background-color: lightgrey;
  border-radius: 50%;
  border: 30px solid black;
}

.player {
  margin: 200px 30px;
}
.sliderrr{
 background-color: lightgrey;
}
.sliderrr p{
  padding-top: 200px;
  color: blueviolet;
}
/* .player {
  margin: 15px 0;
  background-color:rgba(0,191,255, 0.5);
  width: 100%;
  height: 50px;
  position: relative;
} */



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
